* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  margin-top: 1em;
}

main {
  text-align: center;
  padding-top: 0.75em;
}

main p {
  display: inline;
  background-color: '';
}

#bolls-color-container {
  margin-top: 2em;
}

.ball {
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}
